Repository Fenriir42/Critical-Companion, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, web-app, desktop-app

.github/labeler.yml:

backend:
- 'critical-companion-server/**'
web-app:
- 'critical-companion-web/**'
desktop-app:
- 'critical-companion-app/**'

[update] codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

[rm] codeQL
  .github/workflows/codeql-analysis.yml
Labels: none

[RM] useless images
  critical-companion-web/public/applestorebadge8c4986ee4828b47d16f5svg.svg
  critical-companion-web/public/aside1@3x.png
  critical-companion-web/public/aside@3x.png
  critical-companion-web/public/avatar-2png@2x.png
  critical-companion-web/public/background1@3x.png
  critical-companion-web/public/background@3x.png
  critical-companion-web/public/bg.png
  critical-companion-web/public/cellphonesef75d36c69f40bdbc8fdpng-1@2x.png
  critical-companion-web/public/cellphonesef75d36c69f40bdbc8fdpng@2x.png
  critical-companion-web/public/dndbeyond50thlogofb8b5936png@2x.png
  critical-companion-web/public/googleplaybadgeaff0a61d6c8d8b97e08bpng-1@2x.png
  critical-companion-web/public/googleplaybadgeaff0a61d6c8d8b97e08bpng@2x.png
  critical-companion-web/public/image-4@2x.png
  critical-companion-web/public/item--link--discordpng@2x.png
  critical-companion-web/public/item--link--facebookpng@2x.png
  critical-companion-web/public/item--link--instagrampng@2x.png
  critical-companion-web/public/item--link--svg-1.svg
  critical-companion-web/public/item--link--svg-2.svg
  critical-companion-web/public/item--link--svg-3.svg
  critical-companion-web/public/item--link--svg-4.svg
  critical-companion-web/public/item--link--svg.svg
  critical-companion-web/public/item--link--twitchpng@2x.png
  critical-companion-web/public/item--link--xpng@2x.png
  critical-companion-web/public/item--link--youtubepng@2x.png
  critical-companion-web/public/link--app-storepng@2x.png
  critical-companion-web/public/link--esrbpng@2x.png
  critical-companion-web/public/link--google-playpng@2x.png
  critical-companion-web/public/link--logo178png@2x.png
  critical-companion-web/public/link@2x.png
  critical-companion-web/public/svg-1.svg
Labels: web-app

[ADD] login register and logout logic & pages
  critical-companion-web/api/APIReq.ts
  critical-companion-web/components/background-horizontal-border.tsx
  critical-companion-web/package-lock.json
  critical-companion-web/package.json
  critical-companion-web/pages/index.tsx
  critical-companion-web/pages/login.tsx
  critical-companion-web/pages/register.tsx
Labels: web-app

[ADD] basic sql WIP
  critical-companion-server/database.sql
Labels: backend

[ADD] more packages needed
  critical-companion-server/package-lock.json
  critical-companion-server/package.json
Labels: backend

[ADD] basic features for the server and db
  critical-companion-server/config/db.ts
  critical-companion-server/index.ts
  critical-companion-server/middleware/auth.ts
  critical-companion-server/middleware/notFound.ts
  critical-companion-server/middleware/notYetImplemented.ts
  critical-companion-server/routes/User/UserQuerry.ts
  critical-companion-server/routes/auth/auth.ts
  critical-companion-server/routes/map.ts
  critical-companion-server/routes/suite.ts
  critical-companion-server/type.ts
Labels: backend

[FIX] some issue and remove a non working code that need to be redone correctly
  critical-companion-web/api/APIReq.ts
  critical-companion-web/components/background-horizontal-border.tsx
  critical-companion-web/package-lock.json
  critical-companion-web/package.json
  critical-companion-web/pages/index.tsx
  critical-companion-web/pages/login.tsx
Labels: web-app

[READD] the functionnality removed in the last commit
  critical-companion-web/components/background-horizontal-border.tsx
Labels: web-app

[ADD] User api endpoint for management and middleware
  critical-companion-server/middleware/auth.ts
  critical-companion-server/routes/User/User.ts
  critical-companion-server/routes/map.ts
  critical-companion-server/type.ts
Labels: backend

add -> campaign creation page
  critical-companion-web/pages/create_campaign.tsx
  critical-companion-web/pages/index.tsx
Labels: web-app

[FIX] button opening a new page
  critical-companion-web/pages/index.tsx
Labels: web-app

[WIP] Add querry for game management
  critical-companion-server/routes/Game/Game.ts
  critical-companion-server/routes/Game/GameQuerry.ts
  critical-companion-server/routes/map.ts
Labels: backend

[UPDATE] to use APIReq and not try catch
  critical-companion-web/pages/register.tsx
Labels: web-app
